{% extends 'analyzer/base.html' %}
{% load static %}

{% block title %}
{{title}}
{% endblock title %}

{% block content %}

<section id="hero">
    <div class="container">
        <div class="row">
            <h4 style="text-align: center">Тилдин морфологиясы жөнүндө жалпы маалымат</h4>
<!--            <div class="col-md-4 d-flex justify-content-center align-items-center shadow p-1 mb-5 bg-light text-dark rounded  "-->
<!--                 style="height: 350px; width: 350px;">-->
<!--                <img class="img-article-left" src="{% static 'analyzer/img/intro-img.svg' %}" alt=""-->
<!--                     style="height: 100%; width: 100%;">-->
<!--            </div>-->
            <div class="col" style="margin-left: 10px;">
                <p>Морфологический анализатор языков - это программа, которая позволяет проводить анализ естественных
                    языков с целью извлечения грамматической и лексической информации. Такой анализатор может
                    использоваться в различных областях, например, для автоматического разбора текстов, машинного
                    перевода, информационного поиска, распознавания речи, генерации текстов и т.д.</p>

                <p>Основной задачей морфологического анализатора является разбор слов на составляющие и определение их
                    морфологических характеристик, таких как падеж, число, род, временная форма, лицо и т.д. Для этого
                    применяются различные методы, включая правила морфологического анализа и статистические методы
                    машинного обучения, такие как скрытые марковские модели и нейронные сети.</p>

                <p>Морфологический анализатор является важным компонентом в системах обработки естественного языка, так
                    как обеспечивает более точный и полный анализ текстов, что упрощает последующую обработку и
                    понимание содержания текста компьютерной системой.</p>
            </div>

        </div>

    </div>
</section>

{% endblock content %}
