{% extends 'analyzer/base.html' %}
{% load static %}

{% block title %}
{{title}}
{% endblock title %}

{% block content %}

<style>
    #product {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#product:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
</style>
<section id="hero" style="margin-bottom: 300px;">
    <div class="container">
        <div class="row" style="margin-bottom: 100px;">

            <div class="col">
                <p class="lead" style="font-size: 18px;">Морфологиялык анализдөө үчүн cөздү жазып, баскычты басыңыз</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        {{ form.parameter_word }}
                        <button type="button" class="btn btn-outline-secondary"
                                onclick="document.getElementsByName('parameter_word')[0].value += 'ө';">ө
                        </button>
                        <button type="button" class="btn btn-outline-secondary"
                                onclick="document.getElementsByName('parameter_word')[0].value += 'ң';">ң
                        </button>
                        <button type="button" class="btn btn-outline-secondary"
                                onclick="document.getElementsByName('parameter_word')[0].value += 'ү';">ү
                        </button>
                        <button type="submit" class="btn btn-primary">Анализдөө</button>
                    </div>
                </form>
                {% if not dict %}

                <div class="col">
                    <p>Жыйынтык төмөнкүдөй көрсөтүлөт:</p>
                    <table>
                        <tr>
                            <th>Киргизилген сөз</th>
                            <td>кыргыздардын</td>
                        </tr>
                        <tr>
                            <th>Киргизилген сөздүн уңгусу</th>
                            <td>кыргыз</td>
                        </tr>
                        <tr>
                            <th>Киргизилген сөздүн сөз түркүмү</th>
                            <td>n</td>
                        </tr>
                        <tr>
                            <th>Киргизилген сөздүн мүчөлөрү</th>
                            <td>{'дар': 'pl', 'дын': 'gen'}</td>
                        </tr>
                        <tr>
                            <th>Киргизилген сөздүн тегдери</th>
                            <td>['n', 'nom', 'p3sg', 'pl', 'gen']</td>
                        </tr>
                    </table>
                </div>

                <br>
                <p>Жыйынтык: кыргыздардын/кыргыз_n_p3sg_дар_pl_дын_gen</p>
                {% endif%}

                {% if dict %}
                <div class="col">
                    <table>
                        <tr>
                            <th>Киргизилген сөз</th>
                            <td>{{dict.word}}</td>
                        </tr>
                        <tr>
                            <th>Киргизилген сөздүн уңгусу</th>
                            <td>{{dict.root}}</td>
                        </tr>
                        <tr>
                            <th>Киргизилген сөздүн сөз түркүмү</th>
                            <td>{{dict.part_of_speech}}</td>
                        </tr>
                        <tr>
                            <th>Киргизилген сөздүн мүчөлөрү</th>
                            <td>{{dict.all_endings}}</td>
                        </tr>
                        <tr>
                            <th>Киргизилген сөздүн тегдери</th>
                            <td>{{dict.all_symbols}}</td>
                        </tr>
                    </table>
                </div>

                <br>
                <p>Жыйынтык: {{dict.text}}</p>


                <div class="col">

                    <form>
                        <div class="form-group">
                            <div><input type="text" placeholder="Анализ үчүн сөз жазыңыз:" name="input_word" id="input_word" style="width: 55%; margin-top: 10px;  border: 1px solid black;"></div>
                            <div><input type="text" placeholder="Сөздүн уңгусун жазыңыз:" name="root" id="root" style="width: 55%; margin-top: 10px;  border: 1px solid black;"></div>
                        <div id="mucholor" >
                        </div>

                            <div id="myDropdown1" class="dropdown-content" style="width: 55%; margin-top: 10px; background: #fff; border: 1px solid white;position:relative ">
                            <input type="text" placeholder="Сөз түркүмүн жазыңыз" name="product1" id="product1" onkeyup="filterFunction()" style="width: 100%; border: 1px solid black;">
                             <div id="search-text1" style="z-index: 999999; overflow: scroll;"></div>
                         </div>
                              <div id="mucholor1" >
                        </div>
                         <div id="myDropdown" class="dropdown-content" style="width: 55%; margin-top: 10px; background: #fff; border: 1px solid white;position:relative ">
                            <input type="text" placeholder="Мүчө/мүчөлөрдү тандаңыз" name="product" id="product" onkeyup="filterFunction()" style="width: 100%; border: 1px solid black;">
                             <div id="search-text" style="z-index: 999999; overflow: scroll;"></div>
                         </div>
                        </div>
                        <div style="display: block">
                            <button  type="submit">Submit</button>
                        </div>
                    </form>


                     <script>
                            $(function () {
                              var autocompleteSource = {{dict.partof_speech|safe}}.slice(); // Initial source for autocomplete

                                $("#product1").autocomplete({
                                    source: {{dict.partof_speech|safe}},
                                    minLength: 2,
                                });


                                $("#product1").on("focus", function () {
                                    var html = '';
                                    for(var i =0; i < autocompleteSource.length; i++){
                                        html += `<a href='#' onclick="showText('${autocompleteSource[i]}')" style="background: #fff; z-index: 99999">${autocompleteSource[i]}</a>`;
                                    }

                                    $('#search-text').append(html);

                                    document.getElementById('search-text').style.height = "100px";
                                    document.getElementById('search-text').style.background = "#fff";

                                });
                            });

                            function filterFunction() {
                              var input, filter, ul, li, a, i;
                              input = document.getElementById("product1");
                              filter  = input.value.toUpperCase();
                              div = document.getElementById("myDropdown1");
                              a = div.getElementsByTagName("a");
                              for (i = 0; i < a.length; i++) {
                                txtValue = a[i].textContent || a[i].innerText;
                                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                  a[i].style.display = "";
                                } else {
                                  a[i].style.display = "none";
                                }
                              }
                            }
                            function showText(mucho){
                                var muchoText = `<input type="text" value="${mucho}" style="width: 55%; margin-top: 10px;  border: 1px solid black;"/>`;

                                $('#mucholor1').append(muchoText);
                            }
                    </script>
                    <script>
                            $(function () {
                              var autocompleteSource = {{dict.names|safe}}.slice(); // Initial source for autocomplete

                                $("#product").autocomplete({
                                    source: {{dict.names|safe}},
                                    minLength: 2,
                                });


                                $("#product").on("focus", function () {
                                    var html = '';
                                    for(var i =0; i < autocompleteSource.length; i++){
                                        html += `<a href='#' onclick="showText('${autocompleteSource[i]}')" style="background: #fff; z-index: 99999">${autocompleteSource[i]}</a>`;
                                    }

                                    $('#search-text').append(html);

                                    document.getElementById('search-text').style.height = "100px";
                                    document.getElementById('search-text').style.background = "#fff";

                                });
                            });

                            function filterFunction() {
                              var input, filter, ul, li, a, i;
                              input = document.getElementById("product");
                              filter  = input.value.toUpperCase();
                              div = document.getElementById("myDropdown");
                              a = div.getElementsByTagName("a");
                              for (i = 0; i < a.length; i++) {
                                txtValue = a[i].textContent || a[i].innerText;
                                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                  a[i].style.display = "";
                                } else {
                                  a[i].style.display = "none";
                                }
                              }
                            }
                            function showText(mucho){
                                var muchoText = `<input type="text" value="${mucho}" style="width: 55%; margin-top: 10px;  border: 1px solid black;"/>`;

                                $('#mucholor').append(muchoText);
                            }
                    </script>
                    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
                    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                </div>

                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}
